@use 'media';

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: 'Pretendard', sans-serif;
	word-break: keep-all;
}

html {
	background-color: var(--white);
	min-height: 100%;
	font-size: 20px;
}

@media (max-width: 1024px) {
	html {
		font-size: 14px;
	}
}

@media (max-width: media.$mobile-max) {
	html {
		font-size: 16px;
	}
}

@media (min-width: media.$mobile-max) {
	.only-mobile {
		display: none !important;
	}
}

@media (max-width: media.$mobile-max) {
	.only-pc {
		display: none !important;
	}
}

.mode-web .only-pwa {
	display: none !important;
}

.mode-pwa .only-web {
	display: none !important;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	background-color: var(---base);
	min-height: 100vh;
	color: var(--text);
	line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
figure,
blockquote {
	margin: 0;
}

ul,
ol {
	padding: 0;
}

fieldset,
button,
input,
textarea,
select {
	margin: 0;
}

fieldset {
	border: 0;
	padding: 0;
	min-width: 0;
}

a {
	color: var(--secondary);
	text-decoration: none;
	text-decoration-thickness: 0.05rem;
	text-underline-offset: 0.1rem;
}

a:hover {
	cursor: pointer;
	text-decoration: underline;
}

a:focus {
	outline: none;
}

s {
	color: var(--gray-text);
	text-decoration-thickness: 0.05rem;
}

s:hover {
	text-decoration: none;
}

u {
	text-decoration-thickness: 0.05rem;
	text-underline-offset: 0.2rem;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th,
td {
	border: solid 0.05rem var(--gray-border);
	background-color: var(--gray-bg);
}

@mixin btn-style {
	border: solid 0.1rem var(--gray-border);
	border-radius: 0.4rem;
	background-color: var(--white);
	padding: 0.2rem 0.8rem;
	color: var(--text);
	font-weight: bold;
	font-size: 0.8rem;
	word-break: keep-all;

	&:hover {
		cursor: pointer;
		background-color: var(--white-hover);
		text-decoration: none;
	}
}

button,
label.button {
	@include btn-style;
}

button:disabled,
label.button[aria-disabled='true'] {
	opacity: 0.6;
	filter: saturate(0.65);
	cursor: wait;
}

button:disabled:hover,
label.button[aria-disabled='true']:hover {
	text-decoration: none;
}

button,
input,
textarea,
select {
	color: inherit;
	font: inherit;
}

textarea,
input,
select {
	border: 0.1rem solid var(--gray-border);
	border-radius: 0.4rem;
	background-color: var(--white);
	padding: 0.2rem 0.4rem;
	font-size: 0.8rem;
}

pre {
	margin: 0;
	white-space: break-spaces;
	word-break: break-all;
}

hr {
	margin: 0.4rem 0;
	border: solid 0.1rem var(--gray-border);
	width: 100%;
}

.nmu {
	font-size: 0.9rem;
}
