:root {
	--white: oklch(1 0 0);
	--text: oklch(0 0 0);

	--gray: oklch(0.6 0 0);
	--gray-text: var(--gray);
	--gray-border: oklch(from var(--gray) 0.85 c h);
	--gray-bg: oklch(from var(--gray) 0.98 c h);
	--gray-hover: oklch(from var(--gray-bg) calc(l - 0.05) c h);

	--primary: oklch(0.74 0.14 228.94);
	--secondary: oklch(0.57 0.15 246.9);
	--tertiary: oklch(0.32 0.11 256.8);

	--primary-text: var(--text);
	--primary-bg: oklch(from var(--primary) calc(l + 0.25) calc(c - 0.07) h);
	--primary-hover: oklch(from var(--primary-bg) calc(l - 0.05) c h);
	--primary-strong-hover: oklch(from var(--primary) calc(l - 0.08) c h);

	--secondary-text: oklch(0.6 0 0);
	--secondary-bg: oklch(from var(--secondary) calc(l + 0.25) calc(c - 0.07) h);
	--secondary-hover: oklch(from var(--secondary-bg) calc(l - 0.05) c h);
	--secondary-strong-hover: oklch(from var(--secondary) calc(l - 0.08) c h);

	--tertiary-text: var(--white);
	--tertiary-bg: oklch(from var(--tertiary) calc(l + 0.25) calc(c - 0.07) h);
	--tertiary-hover: oklch(from var(--tertiary-bg) calc(l - 0.05) c h);
	--tertiary-strong-hover: oklch(from var(--tertiary) calc(l - 0.08) c h);

	--surface-base: var(--white);
	--surface-elevated: var(--white);
	--surface-hover: oklch(from var(--white) calc(l - 0.08) c h);
	--white-hover: var(--surface-hover);
	--shadow-color: rgba(0, 0, 0, 0.1);

	--error: oklch(0.45 0.3 30);
	--warn: oklch(0.6 0.3 80);
	--success: oklch(0.6 0.3 140);
	--info: oklch(0.6 0.3 210);

	--error-text: var(--error);
	--error-bg: oklch(from var(--error) 1 0.04 h);
	--error-hover: oklch(from var(--error-bg) calc(l - 0.05) c h);
	--error-strong-hover: oklch(from var(--error) calc(l - 0.08) c h);

	--warn-text: var(--warn);
	--warn-bg: oklch(from var(--warn) 1 0.04 h);
	--warn-hover: oklch(from var(--warn-bg) calc(l - 0.05) c h);
	--warn-strong-hover: oklch(from var(--warn) calc(l - 0.08) c h);

	--success-text: var(--success);
	--success-bg: oklch(from var(--success) 1 0.04 h);
	--success-hover: oklch(from var(--success-bg) calc(l - 0.05) c h);
	--success-strong-hover: oklch(from var(--success) calc(l - 0.08) c h);

	--info-text: var(--info);
	--info-bg: oklch(from var(--info) 1 0.04 h);
	--info-hover: oklch(from var(--info-bg) calc(l - 0.05) c h);
	--info-strong-hover: oklch(from var(--info) calc(l - 0.08) c h);
}
